[package]
name = "agent"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[[bin]]
name = "span-agent"
path = "src/main.rs"

[dependencies]
tracing.workspace = true
anyhow.workspace = true
tokio.workspace = true
common = { path = "../common" }
