[package]
name = "models"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
sqlx.workspace = true
uuid.workspace = true
chrono.workspace = true
serde.workspace = true
serde_json.workspace = true
anyhow.workspace = true
